.charts {margin:0 auto;}
.charts img {width:900px;}
#Atemp {
	color:green;
	float:left;
}
#Apress {
	color:red;
	float:center;
}
#Ahumi {
	color:blue;
	float:right;
}

#actual{
	width:600px;
	margin:0 auto;
	text-align:center;
}
#stamp{
	text-align:center;
}

#actual span{font-size:40px;}

body  {
	width:900px;
	margin:0 auto;
	background-color:#C5E5F5;
	background-image: url(bg.png);
	background-repeat:repeat-y;
	background-attachment:fixed;
	background-position:center;  }
