body  {
	margin: 0;
    padding: 0;
    height: 100%;
	background-color:#929A9D;
	overflow-y: scroll;
}
html  {
	margin: 0;
    padding: 0;
    height: 100%;
}

#container{
	min-height:100%;
	position:relative;
}

#charts {margin:0 auto;}
#charts img {width:900px;}

#header{
	z-index:1;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:170px;
	margin:0;
	padding-top:20px;
	background-color:#FFFFFF;
}

#header span{
	display: inline-block;
	padding:5px;
	margin:5px;
	background-color:#ccc;
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	font-size:40px;
	text-align: center;
	width: 200px;
}

#actual{
	margin:0 auto;
	text-align:center;
	margin-bottom:10px;
}

#Atemp {
	color:green;
	
}
#Apress {
	color:red;
}
#Ahumi {
	color:blue;
}

#stamp{
	text-align:center;
	padding:10px 5px 10px 5px;
	margin:15px auto;
	background-color:#ccc;
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	font-weight:bold;
	color:#222;
		width:655px;
	
}

#menu A{
	font-weight:bold;
	padding:10px 10px;
	color:#222;
	margin:0px;
	border-style:solid;
	border-color:#FFF;
	border-width:0 0px 0 5px;
	text-align:center;
}
#menu{
	/*height:100px;*/
	text-align:center;
	padding:10px 0 10px 0;
	background-color:#929A9D;
}

#content{
	width:900px;
	margin:0 auto 0;
	/*top:190px;*/
	background-color:#FFFFFF;
	position:relative;
	padding:2em 0 2em 0;  
	min-height: 100%;
}



#charts{
	text-align:center;
}

#charts a{
	font-size:1.5em;
}

#footer{
	background-color:#777;
	text-align:center;
	margin:0px;
	padding:10px 0 10px 0;

	position:absolute;
	bottom:0px;
	width:100%;
	height:1em;   /* Height of the footer */
}

#note{
	padding:0 40px 20px 40px;
	text-align:left;
}

/*a:link{text-decoration:none;}
p{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}*/

#menu A:hover{
	text-decoration:none;
	color:#f90;
}

#images{
	margin-right:30px; 
	width:200px;
    float:right;
/*    clear:both;*/
}

#text{
	padding: 0 70px 0 70px;
	text-align: justify;
	margin-right:230px;
}

/*image gallery settings*/
a.clickbox img{/*thumbnail settings*/
	padding-bottom: 1em;
	display: block;
	width:200px;
}
a.clickbox .lightbox,
a.clickbox .lightbox:active {/*default lightbox settings (hidden), use it when clicked to turn off*/
	position:absolute;
	left:0px;
	visibility: hidden;
	top:0;
	cursor:default;
	z-index:500;
}
a.clickbox:active .light {/*turn on transparent bg*/
	position:fixed; left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity: 0.7;
}
a.clickbox:active .lightbox {/*show image*/
	position:fixed; left:0;
	visibility: visible;
	width:100%;
	height:100%;
}
a.clickbox .box {
	position:absolute;
	left:0;
	top:80px;/*not perfect, vertical centering needed*/
	width:100%;
	text-align:center;
	}
a.clickbox .box img{/*zoomed image properties*/
	margin: 0 auto;
	padding:0;
	width:900px;
}

#map_canvas{
	text-align: center;
	width:100%;
	height:300px;
}

#end{/*do not end bg until all divs end*/
	clear:both; 
}

#spacer{
	height:190px;
}
